@use '../../abstracts/index' as *;

.swipe {
    user-select: none;
    .CardInside {
        @include flex(column, space-between);

        gap: 10px;

        text-align: center;

        width: 335px;
        height: 470px;

        border-radius: 5px;

        background-color: $ligth-color;
    
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

        position: absolute;
        top: calc(50% - 470px/2);
        right: calc(50% - 335px/2);

        // bottom: -500px;

        font-size: 40px;

        .bgLight {
            @include flex(row, center, end);

            box-sizing: border-box;

            height: 40%;
            width: 335px;

            padding: 5px;

            h2 {
                color: $grey;
    
                margin: 0;
    
                text-transform: capitalize;
    
                font-size: 53px;
            }
        }


        .bgGrey {
            @include flex(row, center, start);

            box-sizing: border-box;

            height: 60%;
            width: 335px;

            padding: 30px;

            background: $grey;

            border-radius: 0 0 3px 3px;

            box-sizing: border-box;

            h3 {
                color: $ligth-color;
    
                margin: 0;
    
                text-transform: capitalize;
    
                transition: opacity .5s ease-in-out;
    
                font-size: clamp(24px, 90%, 54px);
            }

            .answer {
   
                position: absolute;
                bottom: calc(50% - 65px);
                // right: calc(50% - 150px);
            
                padding: 10px 16px;
            
                border: none;
                width: 261px;
                height: 90px;
            
                transition: transform .1 ease-in-out;
            
                z-index: 200;

                background-color: #2A2927;

                color: $ligth-color;
                font-size: 32px;
                font-weight: 700;

                border-radius: 5px;
            }
            
            .answer:active {
                transform: scale(.9);
            }
        }

    
    }

}



.show { opacity: 1; }

.hidden { opacity: 0; }