@use '../../abstracts/index' as *;

.swipe {
    user-select: none;
    .CardInside {
        @include flex(column);

        gap: 10px;

        text-align: center;

        width: 335px;
        height: 470px;

        border-radius: 5px;

        background-color: $ligth-color;
    
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

        position: absolute;
        top: calc(50% - 470px/2);
        right: calc(50% - 335px/2);

        // bottom: -500px;

        font-size: 40px;

        h2 {
            color: $grey;

            margin: 0;

            text-transform: capitalize;

            font-size: 40px;
        }

        h3 {
            color: $ligth-grey;

            margin: 0;

            text-transform: capitalize;

            transition: opacity .5s ease-in-out;

            font-size: 90%;
        }
    
    }

}

.answer {
   
    position: absolute;
    bottom: calc(50% - 70px);
    // right: calc(50% - 150px);

    padding: 10px 16px;

    border: none;
    width: 300px;
    height: 70px;

    transition: transform .1 ease-in-out;

    z-index: 200;
}

.answer:active {
    transform: scale(.9);
}

.show { opacity: 1; }

.hidden { opacity: 0; }