@use '../../abstracts/index' as *;

.filterContainer {

    button {
        @include flex();
        user-select: none;

        padding: 5px;

        height: 20px;

        border: 1px $ligth-color solid;
        border-radius: 20px;

        position: initial;

        color: $ligth-color;
        font-weight: 700;

        background-color: transparent;

        cursor: pointer;
    }
}