@use '../../abstracts/index' as *;

.container-filter {
    @include flex(column, end);
    position: absolute;

    bottom: -210px;
    left: 0;

    z-index: 200;

    width: 100%;
    height: 0;

    padding: 0;
    margin: 0;

    transition: bottom 0.5s ease-in-out, height .8s ease-in-out;

    .handle {
        height: 30px;
        width: 90%;
        background-color: black;
    }

    .filters {
        @include flex(column, start);

        box-sizing: border-box;
    
        width: 100%;
        height: 60%;
    
        padding: 16px;  
    
        background-color: #403d39e7;
    
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

        .category-toggle {
            @include flex(row, start);
            gap: 10px;

            margin-bottom: 10px;

            width: 100%;

            button {
                background-color: $ligth-grey;
                color: $ligth-color;

                padding: 5px 12px;

                transition: all .3s ease-in-out;

                box-sizing: border-box;

                font-size: 12px;
            
                border: 1px $ligth-color solid;
                border-radius: 20px;

                font-weight: 600;

                cursor: pointer;
            }
            .selected {
                background-color: $ligth-color;
                color: $ligth-grey;
            }
            button:hover {
                border: 1px solid $grey;
                color: $grey;
            }
            button:active {
                transform: scale(1);
            }
        }

        .english, .aws, .label-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(auto-fill, 25px);
            gap: 5px;
    
            align-items: start;

            width: 100%;
            div {
                margin: 0;
                width: 100%;
            }
        }
    }
}
.show-filters {
    height: 100%;

    bottom: 0;
    left: 0;
}