.speech {
    position: absolute;

    right: 10px;
    top: 5px;

    z-index: 1000;

    button {
        border: none;
        background-color: transparent;

        height: 40px;
    }

    button:active {
        transform: scale(.9);
    }
}