@use '../../abstracts/index' as *;

.deckView {
    @include flex(column);

    position: relative;

    width: 100%;
    height: 100vh;

    background-color: $ligth-grey;

    user-select: none;

    .filter {
        position: absolute;
        top: 16px;
        right: 16px;

        background-color: transparent;

        border: none;

        transition: transform 0.2s ease-in-out;

        cursor: pointer;
    }
    .filter:active {
        transform: scale(.9);
    }

    .containerFilter {
        position: absolute;
        top: 0;
        left: 0;

        width: 65%;
        height: 50px;

        padding: 16px;

        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        transition: opacity 0.5s ease-in-out;
    }
}